* {
    margin: 0;
    padding: 0;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
.wrapper {
    width: 100vw;
    height: 100vh;
}

/* ------------------ header ------------------ */
header {
    background: #fff;
    height: 9.5vh;
    margin: 0;
    padding: 0 6rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 5px solid #e8491d;
}

.nav-menu {
    list-style: none;
    display: flex;
    width: 35%;
    justify-content: space-between;
    font-size: 22px;
}

.nav-menu a {
    text-decoration: none;
    color:#78472C;
}

.current a {
    color: #e8491d;
}
/* ------------------ end of header ------------------ */

/* ------------------ section ------------------ */
section {
    width: 100vw;
    height: 80vh;
    background: #f4f4f4;
}

/* ------------------ index-page ------------------ */

.index-content {
    position: relative;
}

.index-content {
    position: absolute;
    left: 14%;
    top: 22.5%;
    width: 75%;
}

.content {
    display: flex;
    justify-content: space-between;
}

.image > img {
    width: 350px;
    height: 350px;
}

.text {
    margin-top: 50px;
    width: 60%;
}

.text h3{
    color: #78472C;
    letter-spacing: 0.1em;
    line-height: 2.3em;
    font-size: 25px;
    font-weight: 500;
}

.highlight {
    color: #78472C;
    font-size: 35px;
    font-weight: 700;
}

.social-media {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.social-media img {
    padding-right: 1.2rem;
}

.media {
    width: 60%;
}
/* ------------------ end of index-page ------------------ */

/* ------------------ about-page ------------------ */
.about-content {
    position: absolute;
    left: 14%;
}
.content-title {
    padding: 30px 0;
    text-align: center;
}
.orangered {
    color: #e8491d;
}

.dark-orange {
    color: #78472C;
}

.about-text p {
    color: #78472C;
    line-height: 2.3em;
    font-size: 20px;
}

.more-infos a{
    text-decoration: none;
    color: #e8491d;
}

.technologies {
    width: 95%;
    margin: 50px 0;
}

.techno-row1, .techno-row2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0;
}
/* ------------------ end of about-page ------------------ */

/* ------------------ contact-page ------------------ */
.contact-content {
    position: relative;
}

.contact-content {
    position: absolute;
    left: 14%;
    height: 80vh;
}

.contact-holder {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.contact-text {
    width: 300px;
    color: #78472C;
    font-size: 40px;
    margin: 20px 0;
    padding: 30px 100px 0 0;
}

.contact-form {
    display: block;
    width: 550px;
    padding: 15px;
    border: 3px solid #a7b5be;
    border-radius: 10px;
    background: #fff;
}


.contact-form label {
    margin: 120px 50px;
    color: #78472C;
    font-size: 25px;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    margin: 4px 50px;
    color: #78472C;
    padding: 4px 0;
    font-size: 16px;
    border: 3px solid #a7b5be;
    border-radius: 8px;
}

.contact-form #btn {
    width: 80%;
    margin: 8px 50px;
    color: #e8491d;
    padding: 8px 150px;
    font-size: 25px;
    background: #a7b5be;
    border: 3px solid #a7b5be;
    border-radius: 8px;
}
/* ------------------ end of contact-page ------------------ */

/* ------------------ blogs-page ------------------ */
.blogs-content {
    position: relative;
}

.blogs-content {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 80vh;
}


.blogs-row1, .blogs-row2 {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 0;
}

.blog-img {
    width: 65%;
}

.blog-img:hover {
    opacity: 60%;
}

.blog {
    text-align: center;
}

.blog p {
    color: #78472C;
}

.login-message {
    position: relative;
}
.login-message {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #78472C;
    font-size: 22px;
    font-weight: 400;
}

.login-message span a {
    color: #e8491d;
    text-decoration: none;
}
/* ------------------ end of blogs-page ------------------ */

/* ------------------ login-page ------------------ */
.login-content {
    position: absolute;
    left: 14%;
    height: 80vh;
}

.login-holder {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
}

.login-text {
    width: 300px;
    color: #78472C;
    font-size: 40px;
    margin: 20px 0;
    padding: 30px 100px 0 0;
}

.login-form {
    display: block;
    width: 550px;
    padding: 15px;
    border: 3px solid #a7b5be;
    border-radius: 10px;
    background: #fff;
}


.login-form label {
    margin: 150px 50px;
    color: #78472C;
    font-size: 25px;
}

.login-form input {
    width: 80%;
    margin: 4px 50px;
    color: #78472C;
    padding: 4px 0;
    font-size: 16px;
    border: 3px solid #a7b5be;
    border-radius: 8px;
    outline: none;
}

.login-form #btn {
    width: 80%;
    margin: 50px 50px 0px 50px;
    color: #e8491d;
    padding: 8px 150px;
    font-size: 25px;
    background: #a7b5be;
    border: 3px solid #a7b5be;
    border-radius: 8px;
    outline: none;
}
/* ------------------ end of login-page ------------------ */
/* ------------------ end of section ------------------ */

/* ------------------ footer ------------------ */
footer {
    position: absolute;
}

footer {
    
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background: #fff;
    color:#78472C;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ------------------ footer ------------------ */