* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ------------------ header ------------------ */
header {
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 6rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #fff;
    border-bottom: 5px solid #e8491d;
    z-index: 1;
}

.logo-box img {
    width: 80%;
}

.openMenu, .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #e8491d;
}

.nav-menu {
    width: 35%;
}

.navMenuUl {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 22px;
}

.nav-menu a {
    text-decoration: none;
    color:#78472C;
}

.current a {
    color: #e8491d;
}
/* ------------------ end of header ------------------ */

/* ------------------ media querry for header ------------------ */
@media(max-width: 1400px) {
    header {
        /* display: none; */
    }
    
    .nav-menu {
    width: 38%;
    }
}
@media(max-width: 1200px) {
    header {
        /* display: none; */
    }
    .nav-menu {
        width: 40%;
    }

    .nav-menu ul {
        font-size: 20px;
    }
}

@media(max-width: 1100px) {
    header {
        /* display: none; */
    }
    .nav-menu {
        width: 45%;
    }
    
    .nav-menu ul {
        font-size: 20px;
    }
}

@media(max-width: 1000px) {
    header {
        /* display: none; */
    }

    .nav-menu{
        width: 50%;
    }
}

@media(max-width: 900px) {
    header {
        /* display: none; */
    }

    .nav-menu{
        width: 50%;
    }

    .nav-menu ul {
        font-size: 18px;
    }
}

@media(min-width: 801px) {
    .nav-menu {
        display: block;
    }
}
@media(max-width: 800px) {
    header {
        /* display: none; */
        align-items: unset;
    }

    .nav-menu {
        width: 20%;
        text-align: center;
    }

    .navMenuUl {
        display: none;
        height: 20vh;
        flex-direction: column;
        transition: .5s ease;
    }

    .navMenuUl a {
        text-align: center;
    }

    .openMenu {
        margin: 8px 0 0 0;
        display: block;
        cursor: pointer;
    }

    .closeMenu {
        margin: 8px 0 0 0;
        display: none;
        cursor: pointer;
    }
}
/* ------------------ end of media querry for header ------------------ */

/* ------------------ section ------------------ */
section {
    width: 100vw;
    height: auto;
    background: #f4f4f4;
}

:focus {
    outline: none;
}

/* ------------------ index-page ------------------ */
.index-content {
    padding: 50px 0;
    width: 100%;
    height: 80vh;
}

.index-holder {
    margin: 100px auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.index-holder  img {
    width: 300px;
    height: auto;
}

.index-text {
    margin-top: 30px;
    width: 60%;
    height: auto;
}

.index-text h3{
    color: #78472C;
    letter-spacing: 0.1em;
    line-height: 2.3em;
    font-size: 22px;
    font-weight: 500;
}

.highlight {
    color: #78472C;
    font-size: 32px;
    font-weight: 700;
}
/* ------------------ end of index-page ------------------ */

/* ------------------ media querries for index ------------------ */
@media(max-width: 1200px) {
    section {
        /* display: none; */
    }

    .index-text h3{
        letter-spacing: 0.05em;
        line-height: 2.0em;
        font-size: 20px;
    }

    .highlight {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }

    .media {
        width: 50%;
    }
}
@media(max-width: 1100px) {
    .index-holder {
        width: 82%;
    }
}

@media(max-width: 1000px) {
    body {
        background: #f4f4f4;
    }
    
    section {
        /* display: none; */
    }

    .index-content {
        width: 100vw;
        height: auto;
        margin: 0;
    }

    .index-holder {
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
    }

    .index-holder img {
        width: 250px;
    }
    
    .index-text h3 {
        width: 100vw;
        font-size: 18px;
        text-align: center;
    }
    
    .highlight {
        font-size: 25px;
    }
}

@media(max-width: 600px) {
    section {
        /* display: none; */
    }

    .index-holder img {
        width: 220px;
    }
    
    .index-text h3 {
        width: 100vw;
        font-size: 16px;
        text-align: center;
    }
    
    .highlight {
        font-size: 22px;
    }
}

@media(max-width: 450px) {
    section {
        /* display: none; */
    }

    .index-holder img {
        width: 200px;
    }
    
    .index-text h3 {
        width: 100vw;
        font-size: 16px;
        text-align: center;
    }
    
    .highlight {
        font-size: 20px;
    }
}
@media(max-width: 250px) {
    section {
        /* display: none; */
    }
}    
/* ------------------ end of media querries for index ------------------ */

/* ------------------ about-page ------------------ */
.about-content {
    padding: 10px 0;
    width: 100%;
    height: auto;
}
.content-title {
    padding: 20px;
    text-align: center;
}
.orangered {
    color: #e8491d;
}

.dark-orange {
    color: #78472C;
}

.about-text p {
    margin: auto;
    color: #78472C;
    line-height: 2.3em;
    font-size: 20px;
    width: 80%;
}

.more-infos a{
    text-decoration: none;
    color: #e8491d;
}

.technologies {
    width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.technologies img {
    width: 30%;
}

.technologies li {
    margin-top: 20px;
    list-style: none;
}
/* ------------------ end of about-page ------------------ */

/* ------------------ media querries for about ------------------ */
@media(max-width: 1400px) {

}

.technologies {
    width: 75%;
}

@media(max-width: 1200px) {
    section {
        /* display: none; */
    }

    .content-title {
        padding: 10px 0;
        text-align: center;
    }

    .technologies {
        width: 80%;
    }
}

@media(max-width: 1000px) {
    section {
        /* display: none; */
        width: fit-content;
        height: fit-content;
    }
    .content-wrapper {
        margin: 0;
        display: block;
    }
    .content-title h2 {
        margin: 0;
    }

    .content-title {
        padding: 20px 0;
    }

    .about-content {
        position: unset;
    }
    
    .about-text {
        margin: auto;
        width: 90%;
        height: fit-content;
    }

    .about-text {
        text-align: center;
    }

    .technologies {
        width: 100%;
        padding-bottom: 10vh;
        margin: auto;
    }

    .technologies li {
        text-align: center;
        list-style: none;
    }
}

@media(max-width: 800px) {
    section {
        /* display: none; */
    }
}

@media(max-width: 600px) {
    section {
        /* display: none; */
    }

    .about-text p {
        font-size: 20px;
    }

    .technologies img {
        width: 20%;
    }
}

@media(max-width: 450px) {
    .about-text p {
        font-size: 18px;
    }
}

@media(max-width: 250px) {
    body {
        /* display: none; */
    }
}
/* ------------------ end of media querries for about ------------------ */

/* ------------------ contact-page ------------------ */
.contact-content {
    width: 100%;
    height: auto;
    background: #f4f4f4;
}

.contact-text {
    color: #78472C;
    font-size: 20px;
    text-align: center;
}

.contact-form {
    display: block;
    width: 40%;
    margin: 20px auto;
    padding: 20px 0;
    border: 3px solid #a7b5be;
    border-radius: 10px;
    background: #fff;
}

.contact-form form {
    height: fit-content;
    margin: 20px 0;
}

.contact-form label {
    margin: 0px 50px;
    color: #78472C;
    font-size: 20px;
}

.contact-form input, .contact-form textarea {
    width: 80%;
    margin: 0  0 15px 50px;
    color: #78472C;
    padding: 4px 0;
    font-size: 16px;
    border: 3px solid #a7b5be;
    border-radius: 8px;
}

.contact-form #submit-btn {
    width: 81%;
    font-size: 20px;
    color: #e8491d;
    background: #a7b5be;
    border: 3px solid #a7b5be;
    border-radius: 8px;
    margin: 20px 0 0 50px;
    padding: 8px 0;
}

.login-signup-message {
    padding: 20px;
    text-align: center;
    color: #78472C;
    font-size: 22px;
    font-weight: 400;
    background: #f4f4f4;
}

.login-signup-message span a {
    color: #e8491d;
    text-decoration: none;
}
/* ------------------ end of contact-page ------------------ */

/* ------------------ media querries for contact ------------------ */
@media(max-width: 1400px) {
    
}

@media(max-width: 1000px) {
    section {
        /* display: none; */
        /* margin: auto; */
    }

    .contact-content {
        margin: auto;
    }

    .contact-form {
        width: 50%;
    }

    .contact-form label,
    .contact-form input,
    .contact-form textarea,
    .contact-form #btn {
        margin: 10px 40px;
    }
}

@media(max-width: 850px) {
    section {
        /* display: none; */
    }

    .contact-text p {
        margin: auto;
        width: 60%;
    }

    .contact-form {
        width: 60%;
    }

}

@media(max-width: 580px) {
    section {
        /* display: none; */
    }

    .contact-form {
        width: 70%;
    }

    .login-signup-message {
        font-size: 18px;
    }
}


@media(max-width: 480px) {
    section {
        /* display: none; */
    }

    .contact-form label,
    .contact-form input,
    .contact-form textarea,
    .contact-form #btn {
        margin: 8px 30px;
    }
}

@media(max-width: 420px) {
    section {
        /* display: none; */
    }
    
    .contact-holder {
        width: 100%;
        margin: auto;
    }
    
    .contact-form {
        margin: auto;
        padding: 5px;
    }
    
    .contact-form form {
        width: 100%;
        margin: auto;
        padding: 0;
    }
}

@media(max-width: 400px) {
    section {
        /* display: none; */
    }

    .contact-text p {
        width: 60%;
        margin: auto;
    }
}

@media(max-width: 320px) {
    section {
        /* display: none; */
    }

    .contact-form label,
    .contact-form input,
    .contact-form textarea,
    .contact-form #btn {
        margin: 8px 20px;
    }
}
/* ------------------ end of media querries for contact ------------------ */

/* ------------------ blogs-page ------------------ */
.blogs-content {
    width: 100%;
    height: auto;
    background: #f4f4f4;
}
.blogs-holder {
    margin: auto;
    width: 80%;
    min-height: 80vh;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-between;
}

.blog {
    width: 90%;
    height: fit-content;
    margin: 20px 0;
}

.blog-box {
    width: 360px;
    height: 220px;
    background: #f4f4f4;
    border: 1px solid #a7b5be;
}

.blog-box:hover {
    opacity: 70%;
}
.blogs-holder a {
    width: 68%;
    text-decoration: none;
    color: #78472C;
}

.blog-image {
    width: 360px;
    height: auto;
}

.blog-time {
    font-size: 13px;
    text-align: end;
    color: #78472C;
}

.blog-author {
    font-size: 13px;
    color: #78472C;
    margin-left: 5px;
}

.blog-title {
    margin: 10px 0 0 0;
    color: #e8491d;
}

.blog-text {
    text-align: justify;
    color: #78472C;
}

.blog-paragraph {
    margin: 10px 0;
    text-align: justify;
}

.blogs-holder .blog-create {
    margin: auto;
    width: 60%;
    height: 34vh;
    padding: 25px;
    color: #78472C;
    font-size: 20px;
    border: 2px solid #a7b5be;
}
/* ------------------ end of blogs-page ------------------ */

/* ------------------ media querries for blogs ------------------ */
@media(max-width: 1200px) {
    .login-signup-message {
        padding-bottom: 10vh;
    }
}

@media(max-width: 1000px) {
    section {
        margin: auto;
    }
}

@media(max-width: 850px) {

}
/* ------------------ end of media querries for blogs ------------------ */

/* ------------------ login-page ------------------ */
.login-admin-user a {
    text-decoration: none;
    color: #e8491d;
    margin: 0 50px;
    font-size: 20px;
}
/* ------------------ end of login-page ------------------ */

/* ------------------ media querries for login ------------------ */
@media(max-width: 1400px) {
    
}

@media(max-width: 1000px) {
    section {
        /* display: none; */
    }

    .login-admin-user a {
        margin: 0 40px;
    }
}

@media(max-width: 580px) {
    section {
        /* display: none; */
    }

    .login-admin-user a {
        margin: 0 30px;
    }
}

@media(max-width: 330px) {
    section {
        /* display: none; */
    }

    .login-admin-user a {
        margin: 0 10px;
        font-size: 18px;
    }
}

@media(max-width: 230px) {
    section {
        /* display: none; */
    }

    .login-admin-user a {
        width: 100%;
        margin: 0;
    }
}
/* ------------------ end of media querries for login ------------------ */
/* ------------------ signup-page ------------------ */

/* ------------------ end of signup-page ------------------ */

/* ------------------ media querries for signup ------------------ */
@media(max-width: 1400px) {
    
}

@media(max-width: 1000px) {
    .wrapper {
        background: #f4f4f4;
    }

    section {
        /* display: none; */
        margin: auto;
    }

    .signup-content {
        margin: auto;
    }

    .signup-text {
        width: 100%;
        margin: 10px;
        font-size: 20px;
    }
}

@media(max-width: 850px) {
    section {
        /* display: none; */
    }

    @media(max-width: 580px) {
        section {
            /* display: none; */
        }

        .signup-holder {
            justify-content: center;
        }

        .signup-form {
            min-width: 300px;
        }

        .signup-form label {
            margin: 8px 30px;
            color: #78472C;
            font-size: 20px;
        }
        
        .signup-form input {
            margin: 8px 30px;
            font-size: 16px;
        }
        
        .signup-form #btn {
            font-size: 20px;
            margin: 20px 30px;
        }
    }
}
/* ------------------ end of media querries for signup ------------------ */


/* ------------------ admin-page ------------------ */
.admin-content {
    width: 100%;
    height: auto;
    background: #f4f4f4;
    display: flex;
}

.admin-menu {
    width: 12%;
    min-width: 150px;

    background: #fff;
}

.admin-menu p {
    padding: 5px 0;
    text-align: center;
    font-size: 22px;
    color: #e8491d;
    user-select: none;
}

.admin-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid #f4f4f4;
}
.admin-menu a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 19px;
    line-height: 50px;
    box-sizing: border-box;
    color: #78472C;
}

.admin-menu .current-menu {
    background: #f4f4f4;
}
.admin-holder {
    margin-left: 10%;
    width: 75%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: space-around;
    text-align: center;
}

.admin-box {
    width: 60%;
    height: fit-content;
    margin: 20px;
    padding: 10px;
    color: #78472C;
    border: 3px solid #a7b5be;
    border-radius: 10px;
    background: #fff;
}

.admin-box p {
    padding: 5px;
}

.admin img {
    width: 10%;
}

.admin1-holder {
    margin-left: 5%;
    width: 75%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    text-align: center;
}

.admin1-holder table {
    width: 90%;
    border: 2px solid #a7b5be;
}

th, tr, td {
    width: auto;
    padding: 15px;
    color: #78472C;
    border: 2px solid #a7b5be;
}
.admin2-holder {
    margin: auto;
    width: 60vw;
    display: block;
}

.admin2-holder  textarea {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    color: #78472C;
    border: 2px solid #a7b5be;
    font-family: 'Poppins', sans-serif;
}

.admin2-holder  input {
    width: 100%;
    color: #e8491d;
    font-size: 20px;
    padding: 5px;
}
/* ------------------ end of admin-page ------------------ */

/* ------------------ end of section ------------------ */

/* ------------------ media querries for admin ------------------ */
@media(max-width: 1400px) {
    .wrapper {
        background: #f4f4f4;
        margin: 0;
        padding: 0;
    }
}

@media(max-width: 1000px) {
    section {
        /* display: none; */
    }

    .admin-content {
        width: 100vw;
    }

    .admin-menu {
        width: 25%;
    }
}

@media(max-width: 890px) {
    section {
        /* display: none; */
    }

    .admin-menu {
        width: 30%;
    }

    .admin1-holder {
        width: 75%;
        height: fit-content;
    }
    
    .admin1-holder table {
        width: 90%;
        font-size: 16px;
    }   

    .admin1-holder .td-email {
        display: none;
    }
}

@media(max-width: 700px) {
    section {
        /* display: none; */
    }

    .admin-menu {
        width: 40%;
    }
}

@media(max-width: 600px) {
    section {
        /* display: none; */
    }

    .admin-menu {
        width: 50%;
    }
  
    .admin1-holder .td-no {
        display: none;
    }
}

@media(max-width: 550px) {
    section {
        /* display: none; */
    }

    .admin-menu {
        width: 65%;
    }

    .admin1-holder table {
        width: 90%;
        font-size: 12px;
    }  
}

@media(max-width: 535px) {
    section {
        /* display: none; */
    }

    .admin-menu {
        width: 70%;
    }
}
/* ------------------ end of media querries for admin ------------------ */

/* ------------------ footer ------------------ */
footer {
    width: 100%;
    background: #fff;
    color:#78472C;
    border-top: 2px solid orangered;
}

.footer-orangered {
    padding: 20px;
    color: #e8491d;
}

.footer-row1 {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    line-height: 30px;
    justify-content: space-between;
}

.follow-us {
    border-bottom: #e8491d 1px solid;
    text-align: center;
}

.social-media {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.social-media img {
    padding-right: 1.2rem;
}

.media {
    width: 50%;
}

.contact-us {
    margin-left: 20px;
}

.copy-right {
    line-height: 50px;
    text-align: center;
}

@media(max-width: 1000px) {
    footer, .footer-row1 {
        /* display: none; */
        display: block;
    }

    .about-us, .contact-us {
        text-align: center;
    }
}

@media(max-width: 450px) {
    .social-media {
        /* display: none; */
    }

    .media {
        width: 70%;
    }
}
/* ------------------ footer ------------------ */

/* ------------------ error handling ------------------ */
#error {
    width: 90%;
    margin: 0px 50px;
    /* padding: 10px; */
    font-size: 20px;
    text-align: justify;
    color:#ff0000;
    border-radius: 10px;
}

#signup-hint {
    width: 90%;
    margin: 0px 50px 10px 50px;
    color:#ff0000;
}


/* ------------------ new-user ------------------ */
#new-user {
    width: 80%;
    margin: 50px auto;
    align-items: center;
    text-align: center;
}

#create-btn, #profile-infos {
    width: 50%;
    font-size: 22px;
    color: #e8491d;
    background: #a7b5be;
    border: 3px solid #a7b5be;
    border-radius: 8px;
    margin: 20px auto 20px auto;
    padding: 20px 0;
}


/* ------------------ blogs from database ------------------ */
#my-blogs {
    width: 100%;
    margin: 20px auto;
    /* background: #a7b5be; */
}

#my-blogs li {
    color: #78472C;
    font-size: 20px;
    list-style: none;
}

#logout {
    cursor: pointer;
}

.options {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #a7b5be;
    width: 100%;
    /* background: cornsilk; */
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* justify-content: space-around; */
}

@media(max-width: 450px) {
    .options {
        display: block;
    }
}

.edit-blog, .delete-blog {
    /* width: 170px; */
    margin-right: 10px;
    padding: 10px;
    color: #e8491d;
    font-size: 20px;
    justify-content: space-between;
    border: 2px solid #a7b5be;
    background: #a7b5be;
}

.admin-users {
    margin: 15px 0;
    padding: 10px;
    width: 100%;
    background: #fff;
}

#select, #upload, #retrieve {
    margin: 4px;
    padding: 10px;
    color: #e8491d;
    font-size: 20px;
    justify-content: space-between;
    border: 2px solid #a7b5be;
    background: #a7b5be;
}

.contact-form #submit-btn:hover[type="submit"],
#create-btn:hover,
#profile-infos:hover,
.edit-blog:hover,
.delete-blog:hover {
	opacity: 0.7;
}

.contact-form #submit-btn:active[type="submit"],
#create-btn:active,
#profile-infos:active,
.edit-blog:active,
.delete-blog:active {
			background: red;
}